table {
    border-collapse: collapse;
  }

  th {
    width: 100px;
    background-color: #4a90e2;
  }

  tr {
      height:50px;
  }

  .thCourse {
      width: 175px;
  }

  .thCredit {
      width: 50px;
  }