table {
    border-collapse: collapse;
  }

  th {
    width: 100px;
    background-color: #4a90e2;
  }

  tr {
      height:50px;
  }

  .thCourse1, .thCourse2, .thCourse3 {
      width: 175px;
  }

  .thCredit, .thCredit2, .thCredit3 {
      width: 50px;
  }